*{
    padding: 0;
    margin: 0;
    
}
header{
    background-color: #f79b45;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}
.white{
    background-color: rgb(211, 254, 253);
}
.black{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
h2{
    display: inline;
}

#navbar{
    padding: 0.1%;
    display:flex;
    justify-content: space-evenly;
}
#map{
    color: red;
    margin: 0;
}
.navbarBtn1{
    width: 100px;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    background-color: rgb(46, 45, 45);
    border-color: white;
    padding: 0.1%;
    display:flex;
    justify-content: center;
    align-items: center;  
    border-radius:5%; 
    border:solid white 2px;
}
.navbarBtn2{
    width: 100px;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    background-color: rgb(71, 151, 194);
    border-color: white;
    padding: 0.1%;
    display:flex;
    justify-content: center;
    align-items: center;  
    border-radius:5%; 
    border:solid black 2px;
}
#ytlink{
    color: red;
}
#pre{
    font-size: xx-small;
    position: fixed;
    bottom: 30px;
    left: 0%;
}
.navbarBtn1:hover , .navbarBtn2:hover{
    font-size:1.3rem;
}
.navbarBtn1 i{
    color:rgb(18, 240, 44);
    margin-right:0.5rem;
}
.navbarBtn2 i{
    color:rgb(59, 226, 87);
    margin-right:0.5rem;
}
#images{

}
img:hover{
    border:4px solid rgb(38, 238, 12);
}
.video1{
    display:flex;
    justify-content:space-evenly;
}
video:hover{
    border:4px solid rgb(38, 238, 12);   
}
button{
    background-color: bisque;
    border-radius:5px;
  }
  button:hover{
    font-size:1rem;
    border:2px solid rgb(236, 13, 13);
  }
@media screen and (min-width: 480px) {
    #images div{
        display:flex;
        justify-content:space-evenly;
        margin:2rem;
    } 
  }
